# Application
awscli
docopt
edx-ccx-keys
edx-opaque-keys
graphitesend==0.10.0 # Apache
mysql-connector-python>=9.0
path.py
pbr
pymongo
python-dateutil
python-gnupg==0.4.4
pyyaml
psutil

# Tests
coverage>=7.3
pytest>=8.0
pytest-cov>=5.0
